@model IEnumerable<Oukay.Models.Clothes>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-success">Oukay Inventory</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="records" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClothesName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClothesUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClothesName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClothesUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    <a class="btn btn-sm btn-info" asp-action="Edit" asp-route-id="@item.ClothesId">
                        <i class="fa fa-edit"></i>
                    </a>


                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.ClothesId"
                       onclick='return confirm("Are you sure");'>
                        <i class="fa fa-remove"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.js"></script>
    <script>
        $(document).ready(function () {
            $('#records').DataTable();
        });
    </script>
}